@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  background-image:
    radial-gradient(circle at 15% 50%, rgba(188, 19, 254, 0.15), transparent 25%),
    radial-gradient(circle at 85% 30%, rgba(0, 243, 255, 0.15), transparent 25%);
  color: white;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
